<div class="container">
    <div class="container pt-5" id="featured-3">
        <div class="text-center">
            <h2 class="pb-2 fs-1">Features</h2>
            <p class="lead fw-normal text-muted">A list of currently features of ASO</p>
        </div>
        <div class="row g-5 py-5">
            {% for item in site.features %}
            <div class="feature col-md-4">
                <div class="feature-icon bg-primary bg-gradient">
                  {{ item.image }}
                </div>
                <h3>{{ item.title }}</h3>
                <p>{{ item.details }}</p>
                <a href="#" class="icon-link">
                    {{ item.action }}
                    <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg> -->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>