<div class="text-center">
  <div class="justify-content-center">
    <h1>Cover your page</h1>
    <p class="lead px-5">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  </div>
  <div class="container p-md-5">
    <img class="w-100 rounded shadow" src="/assets/Artboard.jpg" alt="">
  </div>
  <div class="">
    <h1>Roadmap</h1>
    <p class="lead px-5">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  </div>
</div>