<div class="container py-2 pb-md-4">
  <header class="d-flex flex-column flex-md-row align-items-center pt-3">
    <div class="p-2">
      <a class="navbar-brand me-md-auto my-0 mx-0 p-0 text-dark" href="/"><img src="/apple-touch-icon.png" width="32" class="rounded" alt="logo"></a>
    </div>
    <a class="navbar-brand me-md-auto my-0 mx-0 text-dark" href="/">{{ site.title }}</a>
    <nav class="my-2 my-md-0 me-md-3 ">
      <a class="p-2 text-dark" href="/" style="text-decoration: none !important">Roadmap</a>
      <a class="p-2 text-dark" href="{{ site.support_mail }}" style="text-decoration: none !important">Contact</a>
      <a class="p-2 text-dark" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" style="text-decoration: none !important">Twitter</a>
    </nav>
    <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
  </header>
</div>