<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="twitter:site" content="@aso2stable">
    <meta name="twitter:creator" content="@aso2stable">
    <meta name="twitter:image" content="https://aso.2stable.com/assets/roadmap.jpeg">
    <meta name="twitter:description" content="With the help of the contributors, content creators and investors, these are milestones we are looking forward to achieving to make ASO tools a great and accessible solutions for every developer.">
    <meta name="twitter:app:name:iphone" content="ASO by 2Stable">
    <meta name="twitter:app:id:iphone" content="1538761576">
    <meta property="og:image" content="https://aso.2stable.com/assets/roadmap.jpeg">
    <meta property="og:type" content="website">
{% seo %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Bootstrap CSS -->
    {{ site.bootstrap-css }}
    {{ site.bootstrap-icons }}
    <!-- local CSS -->
    {{ site.local-css }}
    <!-- microanalytics  -->
    {{ site.microanalytics }}
  </head>
  <body class="d-flex h-100">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
      <div class="mb-auto">
        {%- include nav.html -%}
      </div>
      <div class="px-2 text-center container">
        {%- include roadmap.html -%}
      </div>
      <div class="mt-auto">
        {%- include footer.html -%}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper -->
    {{ site.bootstrap-js-1 }}
    {{ site.bootstrap-js-2 }}
  </body>
</html>